---
import GradientHeader from './GradientHeader.tsx';
---

<main class="pt-16 h-[calc(100vh-140px)] max-w-7xl mx-auto px-6">
  <div class="bg-white rounded-4xl shadow-xl h-full overflow-hidden flex flex-col">
    <GradientHeader client:load />
    <div class="bg-gray-50 flex-1">
      <!-- Job results will go here -->
    </div>
  </div>
</main>